<script type="text/ng-template" id="list.html">

  <!-- dnd-list = The name of the container we are dropping commands into. set list with ng-init before using ng-include-->
  <div dnd-list="list"
       dnd-accept="['command']"
       class="dropzone">
    <div ng-repeat="command in list"
         dnd-draggable="command"
         dnd-effect-allowed="move"
         dnd-moved="list.splice($index, 1)"
         dnd-type="'command'">


      <div ng-include="'item.html'" style="height:100%"></div>
    </div>

    <div class="command-placeholder dndPlaceholder"></div>
  </div>
</script>





<script type="text/ng-template" id="item.html">
<div
  class="grabable command"
  ng-class="{'command-executing': command.currentlyExecuting, 'command-invalid': !command.isValid}"
  ng-mouseover="mouseIn($event)"
  ng-mouseout="mouseOut($event)">
  <div ng-class="{'command-shine': command.currentlyExecuting}"></div>
  {{command.name}}


  <!--Recursive Container.-->
  <div
    class="dropzone"
    dnd-accept="['command']"
    ng-if="command.name=='For Loop' || command.name=='If Wall in Front'">
         <div ng-include="'list.html'" ng-init="list=command.contents" style="height:100%"></div>
  </div>
</div>
<div
  class="command-invalid-tooltip"
  ng-if="command.isValid==false">
  {{command.errorMessage}}
</div>
</script>







<p class="command-container-title">Code</p>



<div ng-include="'list.html'" style="height:100%;"> // the first list variable is set in the codeBankController.
</div>

