<p class="command-container-title">Commands</p>
<div dnd-list="commandBank"
     dnd-accept="['command']"
     class="dropzone">
  <div ng-repeat="command in commandBank"
       dnd-draggable="command"
       dnd-effect-allowed="move"
       dnd-moved="commandBank.splice($index, 1)"
       dnd-type="'command'"
       class="grabable command">
    {{command.name}}


    <!--Recursive Container.-->
    <div
      class="dropzone"
      dnd-accept="['command']"
      ng-if="command.name=='For Loop' || command.name=='If Wall in Front'">
      <div ng-include="'list.html'" ng-init="list=command.contents" style="height:100%"></div>
    </div>
  </div>
  <div class="command-placeholder dndPlaceholder"></div>
</div>
