

<!-- Invalid tooltip has to be above the command to make it directly to the left of the command.
     Don't nest the tooltip inside the command. The command shakes when there is an error.
     The tooltip shaking is an undesired effect. -->
<div
  class="command-invalid-tooltip"
  ng-if="command.isValid==false">
  {{command.errorMessage}}
</div>

<div
  class="grabable command"
  ng-class="{'command-executing': command.currentlyExecuting,
           'command-invalid':  !command.isValid,
           'command-hover':     command.mouseOver,
           }"
  ng-mouseover="mouseIn($event, command)"
  ng-mouseout="mouseOut($event, command)">


  <div>
    <div class="command-title">
      {{command.name}}
    </div>

    <for-loop-options ng-if="command.name=='For Loop'" class = "dropdown-container">
    </for-loop-options>
  </div>

  <div
    dnd-accept="['command']"
    ng-if="command.name=='For Loop' || command.name=='If Wall in Front'"
    ng-include="'resources/dropzone.html'" ng-init="list=command.contents" style="height:100%">
  </div>

  <div class="command-shine-container" ng-show="command.currentlyExecuting">
    <div ng-class="{'command-shine': command.currentlyExecuting}"></div>
  </div>
</div>
