<header class="menu-container">
  <h1 class="header-title md-display-1">Learn to Code</h1>

  <div class="button-container">
    <md-button class="button"
         ng-class="{'button-disable': currentlyExecuting }"
         ng-click="runCodeClicked()">Run Code</md-button>
    <md-button class="button"
         ng-click="resetCodeClicked();">Reset Level</md-button>
  </div>

  <div class="button-container">
    <md-button class="button"
         ng-class="{'button-disable': !gameData.mapData.hasOwnProperty(currentLevel-1) }"
         ng-click="previousLevel()"> PreviousLevel </md-button>

    <md-button class="button"
         ng-class="{'button-disable': !gameData.mapData.hasOwnProperty(currentLevel+1) }"
         ng-click="nextLevel();">Next Level</md-button>
  </div>


  <h4 class="header-title md-display-1">Level: {{currentLevel+1}}</h4>
</header>
