<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="app" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="app" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="app" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="app" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Learn to Code</title>
  <link rel="stylesheet" href="scss/style.css">
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

  <!-- Angular Material font, not strictly required -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
</head>


<body ng-app="app" ng-controller="gameController">


  <game-menu></game-menu>
<!-- for level transitions
    <screen ng-repeat="i in [].constructor(1) track by $index" ng-init="currentLevel=$index" class="game-screen">
    </screen> -->


    <div class="game-screen">
      <div class="no-drag" ng-if="currentlyExecuting">
      </div>

      <game-board class="game-container"></game-board>
      <!-- <div class="victory-container">
      </div>
      <div class="victory">
        VICTORY
      </div>
      -->
      <code-bank></code-bank>
      <command-bank></command-bank>
    </div>

  <footer>© Ian Gallacher</footer>


  <!--Time to load scripts-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.1/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.1/angular-route.min.js"></script>
  <script src="angular-drag-and-drop-lists.min.js"></script>
  <script src="app.js"></script>

  <script src="game/gameController.js"></script>
  <script src="game/level.js"></script>

  <script src="factories/actorFactory.js"></script>
  <script src="factories/commandContainerFactory.js"></script>
  <script src="factories/commandFactory.js"></script>
  <script src="factories/levelFactory.js"></script>
  <script src="factories/tileFactory.js"></script>

  <script src="directives/actors.js"></script>
  <script src="directives/codeBank.js"></script>
  <script src="directives/commandBank.js"></script>
  <script src="directives/forLoopOptions.js"></script>
  <script src="directives/gameBoard.js"></script>
  <script src="directives/gameMenu.js"></script>
  <script src="directives/screen.js"></script>
</body>
</html>
